body {
  padding: 0;
  margin: 0;
  display: flex;
  min-height: calc(100vh - 100px);
  font-family: sans-serif;
  background-color: #1d1d21;
  color:blanchedalmond;
}

.meow-button {
  display: block;
  margin: auto;
  height: 100px;
  width: 200px;
  background-image: url("/images/buttoncat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 10px;
}

.button-text {
  flex-basis: 50%;
  display: block;
  background-color: black;
  border-radius: 5px;
  margin: 0 30px;
  padding: 5px;
  font-size: 20px;
  color: white;
}

.cat-container {
  display: flex;
  width: 75%;
}

.cat-img {
  width: 600px;
  object-fit: cover;
}

.description {
  margin-left: 25px;
  font-size: 40px;
}